@model programbeaverhut.ru.ViewModels.LoginViewModel

<style>
    .html {
        background-color: #0d72ee;
    }

    .login-page {
        width: 360px;
        padding: 8% 0 0;
        margin: auto;
    }

    .form {
        border-radius: 5px;
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

    .form1 {

        position: relative;
        z-index: 1;
        max-width: 360px;
        margin: 0 auto -10px;
        padding: 0px;
        text-align: right;
    }

</style>



<body class="html">
   
    <div class="login-page">
        <div class="form1">
            <a class="form-group btn col-md-5" style="background-color: #FFFFFF; box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.24); " asp-controller="Account" asp-action="Register">Регистрация</a>
        </div>

        <div class="form">
            <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
                <div asp-validation-summary="ModelOnly"> </div>
                <h4> ВХОД В ПРИЛОЖЕНИЕ</h4>
                <div>
                    <label> </label> <br />
                    <input asp-for="Email" class="form-control" placeholder="Email" />
                    <span asp-validation-for="Email"> </span>
                </div>
                <div>
                    <label> </label> <br />
                    <input asp-for="Password" class="form-control" placeholder="Пароль" />
                    <span asp-validation-for="Password"> </span>
                </div>
                <div class="checkbox login-options">
                    <label> </label> <br />
                    <label><input type="checkbox" asp-for="RememberMe" /> Запомнить вас?</label>
                </div>

                <div>
                    <input type="submit" value="Войти" class="form-group btn btn-outline-light col-md-12" style="background-color: #0d72ee" />
                </div>
            </form>
        </div>
    </div>
</body>

